<a href="https://colab.research.google.com/github/rajesh0305/Karbon/blob/main/question_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem statement:

You are given a dataset of a fictional e-commerce platform. The dataset includes tables for users, products, orders, and order items. Design and write SQL queries to:

a. Find the top 5 customers by total spend in the last 30 days.

b. Find Most purchased product till date.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sqlite3

conn = sqlite3.connect('/content/drive/MyDrive/karbon_dataset/karbon dataset/SQL-Challenge.sql')
cursor = conn.cursor()

In [7]:
import sqlite3
db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
create_users_table_sql = """
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER PRIMARY KEY,
    username TEXT NOT NULL,
    email TEXT NOT NULL,
    registration_date TEXT NOT NULL
);
"""
cursor.execute(create_users_table_sql)
conn.commit()
conn.close()

In [9]:
import sqlite3
db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
create_products_table_sql = """
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    category TEXT NOT NULL,
    price REAL NOT NULL
);
"""
cursor.execute(create_products_table_sql)
conn.commit()
conn.close()

In [12]:
import sqlite3
db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
insert_users_sql = """
INSERT INTO users (user_id, username, email, registration_date)
VALUES
(1, 'john_doe', 'john@example.com', '2023-01-15'),
(2, 'jane_smith', 'jane@example.com', '2023-02-20'),
(3, 'bob_johnson', 'bob@example.com', '2023-03-10'),
(4, 'alice_brown', 'alice@example.com', '2023-04-05'),
(5, 'charlie_davis', 'charlie@example.com', '2023-05-01');
"""
cursor.execute(insert_users_sql)

conn.commit()
conn.close()

In [14]:

db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
create_products_table_sql = """
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    category TEXT NOT NULL,
    price REAL NOT NULL
);
"""
cursor.execute(create_products_table_sql)
conn.commit()
conn.close()

In [15]:
import sqlite3
db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
create_orders_table_sql = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_date TEXT NOT NULL,
    total_amount REAL NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(user_id)
);
"""
cursor.execute(create_orders_table_sql)
conn.commit()
conn.close()

In [16]:
import sqlite3
db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

create_order_items_table_sql = """
CREATE TABLE IF NOT EXISTS order_items (
    order_item_id INTEGER PRIMARY KEY,
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""
cursor.execute(create_order_items_table_sql)

conn.commit()
conn.close()

In [18]:
import sqlite3

db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()
insert_users_sql = """
INSERT OR REPLACE INTO users (user_id, username, email, registration_date) VALUES
(1, 'john_doe', 'john@example.com', '2023-01-15'),
(2, 'jane_smith', 'jane@example.com', '2023-02-20'),
(3, 'bob_johnson', 'bob@example.com', '2023-03-10'),
(4, 'alice_brown', 'alice@example.com', '2023-04-05'),
(5, 'charlie_davis', 'charlie@example.com', '2023-05-01');
"""

cursor.executescript(insert_users_sql)
conn.commit()
conn.close()

In [19]:
import sqlite3

db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

insert_products_sql = """
INSERT INTO products (product_id, product_name, category, price) VALUES
(1, 'Laptop', 'Electronics', 999.99),
(2, 'Smartphone', 'Electronics', 599.99),
(3, 'Headphones', 'Electronics', 149.99),
(4, 'Running Shoes', 'Sports', 79.99),
(5, 'Backpack', 'Accessories', 49.99);
"""


cursor.executescript(insert_products_sql)
conn.commit()
conn.close()

In [20]:
db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()
insert_orders_sql = """
INSERT INTO orders (order_id, user_id, order_date, total_amount) VALUES
(1, 1, '2024-08-01', 1149.98),
(2, 2, '2024-08-02', 599.99),
(3, 3, '2024-08-03', 229.98),
(4, 4, '2024-08-04', 999.99),
(5, 5, '2024-08-05', 129.98),
(6, 1, '2024-08-06', 749.98),
(7, 2, '2024-08-07', 1049.98),
(8, 3, '2024-08-08', 79.99),
(9, 4, '2024-08-09', 199.98),
(10, 5, '2024-08-10', 599.99);
"""

cursor.executescript(insert_orders_sql)
conn.commit()
conn.close()

In [21]:

db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

insert_order_items_sql = """
INSERT INTO order_items (order_item_id, order_id, product_id, quantity) VALUES
(1, 1, 1, 1),
(2, 1, 3, 1),
(3, 2, 2, 1),
(4, 3, 3, 1),
(5, 3, 5, 1),
(6, 4, 1, 1),
(7, 5, 4, 1),
(8, 5, 5, 1),
(9, 6, 2, 1),
(10, 6, 3, 1),
(11, 7, 1, 1),
(12, 7, 5, 1),
(13, 8, 4, 1),
(14, 9, 3, 1),
(15, 9, 5, 1),
(16, 10, 2, 1);
"""
cursor.executescript(insert_order_items_sql)
conn.commit()
conn.close()

In [22]:
import sqlite3

db_path = '/content/drive/MyDrive/karbon_dataset/karbon_dataset.db'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()
def display_table(table_name):
    query = f"SELECT * FROM {table_name};"
    cursor.execute(query)
    rows = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]
    print(f"\nTable: {table_name}")
    print(columns)
    for row in rows:
        print(row)

for table in ['users', 'products', 'orders', 'order_items']:
    display_table(table)

conn.close()

Table: users
['user_id', 'username', 'email', 'registration_date']
(1, 'john_doe', 'john@example.com', '2023-01-15')
(2, 'jane_smith', 'jane@example.com', '2023-02-20')
(3, 'bob_johnson', 'bob@example.com', '2023-03-10')
(4, 'alice_brown', 'alice@example.com', '2023-04-05')
(5, 'charlie_davis', 'charlie@example.com', '2023-05-01')

Table: products
['product_id', 'product_name', 'category', 'price']
(1, 'Laptop', 'Electronics', 999.99)
(2, 'Smartphone', 'Electronics', 599.99)
(3, 'Headphones', 'Electronics', 149.99)
(4, 'Running Shoes', 'Sports', 79.99)
(5, 'Backpack', 'Accessories', 49.99)

Table: orders
['order_id', 'user_id', 'order_date', 'total_amount']
(1, 1, '2024-08-01', 1149.98)
(2, 2, '2024-08-02', 599.99)
(3, 3, '2024-08-03', 229.98)
(4, 4, '2024-08-04', 999.99)
(5, 5, '2024-08-05', 129.98)
(6, 1, '2024-08-06', 749.98)
(7, 2, '2024-08-07', 1049.98)
(8, 3, '2024-08-08', 79.99)
(9, 4, '2024-08-09', 199.98)
(10, 5, '2024-08-10', 599.99)

Table: order_items
['order_item_id', 'order_id', 'product_id', 'quantity']
(1, 1, 1, 1)
(2, 1, 3, 1)
(3, 2, 2, 1)
(4, 3, 3, 1)
(5, 3, 5, 1)
(6, 4, 1, 1)
(7, 5, 4, 1)
(8, 5, 5, 1)
(9, 6, 2, 1)
(10, 6, 3, 1)
(11, 7, 1, 1)
(12, 7, 5, 1)
(13, 8, 4, 1)
(14, 9, 3, 1)
(15, 9, 5, 1)
(16, 10, 2, 1)